# !/storage/cache/views/.gitkeep
# /storage/cache/views/*
# !/storage/cache/metadata/.gitkeep
# /storage/cache/metadata/*
# !/storage/logs/.gitkeep
# /storage/logs/*

/vendor/
/public/plugins/

!/public/assets/img/users/default.png
/public/assets/img/users/staff/*.png
/public/assets/img/users/staff/*.jpg
/public/assets/img/users/staff/*.gif
/public/assets/img/users/mhs/*.png
/public/assets/img/users/mhs/*.jpg
/public/assets/img/users/mhs/*.gif
/public/assets/img/users/dsn/*.png
/public/assets/img/users/dsn/*.jpg
/public/assets/img/users/dsn/*.gif
/public/assets/img/users/cmhs/*.png
/public/assets/img/users/cmhs/*.jpg
/public/assets/img/users/cmhs/*.gif

.env
phinx.yml
composer.lock

/seeds/Coba.php